<% @ribbon_text = "My orders" %>

<div style="margin: 15px;">
  <% @orders.each do |order| %>
    <div class="d-flex justify-content-between order-card">
      <div class="flex-column">
        <%= link_to order_path(order), style: 'text-decoration: none; color: black' do %>
          <h5>#<%= order.order_identifier %></h5>
          <p><strong> Order date: </strong><%= order.created_at.strftime("%d.%m.%Y @%H:%M") %></p>
          <p><strong>Delivery method: </strong><%= order.delivery_option.capitalize %></p>
          <p><strong>Total: </strong><%= number_with_precision(order.subtotal_price, precision: 2) %> €</p>
        <% end %>
      </div>
      <div>
        <%= form_for order, method: :delete, data: { confirm: 'Are you sure?' } do |f| %>
          <%= f.button raw('<i class="fas fa-times-circle"></i>'), class: 'delete-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
