<% @ribbon_text = "PICKUP LOCATIONS" %>

<div class="d-flex flex-column justify-content-between h-100 px-2"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-show-directions-value="true"
  data-user-latitude="<%= @user_address_lat %>"
  data-user-longitude="<%= @user_address_lng %>">
  <div data-map-target="map" style="height: 400px;"></div>

  <div class="d-flex flex-column flex-grow-1 justify-content-between">
     <div data-map-target="stores" data-map-markers="<%= @stores.to_json %>">
        <h4>Store to Pickup:</h4>
        <ul>
          <% @stores.each do |store| %>
              <li data-map-target="marker"
                data-map-lng-value="<%= store[:lng] %>"
                data-map-lat-value="<%= store[:lat] %>"
              >
            <p><strong>Store Name:</strong> <%= store[:name] %></p>
              <p><strong>Address:</strong> <%= store[:address] %></p>
              <p><strong>Distance:</strong> <span data-map-target="distance"><%= store[:distance] %></span> km</p>
            </li>
          <% end %>
      </ul>
     </div>
  </div>
 </div>
