<% @ribbon_text = "Checkout" %>

<div class="d-flex flex-column h--100 px-2">
  <h4 style="padding-top: 15px">Items:</h4>
    <table style="width: 100%; border-collapse: separate;">
      <tr>
        <th class="text-left" style="width: 25%">Name</th>
        <th class="text-center" style="width: 25%">Price</th>
        <th class="text-center" style="width: 25%">Quantity</th>
        <th class="text-end" style="width: 25%">Total</th>
      </tr>
    <% @items.each do |item| %>
      <tr>
        <td class="text-left"><%= item.item.name.capitalize %></td>
        <td class="text-center"><%= number_with_precision(item.item.unit_price, precision: 2) %>€</td>
        <td class="text-center"><%= item.quantity %></td>
        <td class="text-end"><%= number_with_precision(item.item.unit_price * item.quantity, precision: 2) %>€</td>
      </tr>
    <% end %>
  </table>

  <hr style="border-color: #6200EE; border-width: 2px; margin-left: 15px; margin-right: 15px;">

  <!-- Subtotal and Fees section -->
  <div>
    <div style="display: flex; align-items: center;">
      <h5>Subtotal:</h5>
      <h5 style="margin-left: auto;"><%= @total_price %> €</h5>
    </div>
    <div style="display: flex; align-items: center;">
      <h5>Service fee:</h5>
      <h5 style="margin-left: auto;"><%= number_to_currency(@service_fee, unit: '€', format: '%n %u') %></h5>
    </div>
    <!-- Delivery fee section (initially hidden) -->
    <div class="delivery-fee" style="display: none; align-items: center;">
      <h5>Delivery fee:</h5>
      <h5 style="margin-left: auto;"><%= number_to_currency(@delivery_fee, unit: '€', format: '%n %u') %></h5> 
    </div>
  </div>

  <hr style="border-color: #6200EE; border-width: 2px; margin-left: 15px; margin-right: 15px;">

  <!-- Toggle button for delivery -->
  <div data-controller= "buttons" style="display: flex; align-items: center;">
    <h5>Deliver to my address</h5>
    <label class="switch" style="margin-left: auto;">
      <input type="checkbox" data-buttons-target="toggle"">
      <span class="slider round" data-buttons-target="slider"></span>
    </label>
  </div>

  <hr style="border-color: #6200EE; border-width: 2px; margin-left: 15px; margin-right: 15px;">

  <!-- Total section -->
  <div style="display: flex; align-items: center;">
    <h5>Total:</h5>
    <h5 style="margin-left: auto;" class="total-price"><%= @total_price + @service_fee %> €</h5>
  </div>
</div>
