    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <% @ribbon_text = "Checkout" %>

<div class="bg-white" style="padding: 0 15px;">
  <h4 style="padding-top: 15px">Items:</h4>
    <table style="width: 100%; border-collapse: separate;">
      <tr>
        <th class="text-center" style="width: 25%">Name</th>
        <th class="text-center" style="width: 25%">Price</th>
        <th class="text-center" style="width: 25%">Quantity</th>
        <th class="text-center" style="width: 25%">Total</th>
      </tr>
    <% @items.each do |item| %>
      <tr>
        <td class="text-center"><%= item.item.name.capitalize %></td>
        <td class="text-center"><%= number_with_precision(item.item.unit_price, precision: 2) %>€</td>
        <td class="text-center"><%= item.quantity %></td>
        <td class="text-center"><%= number_with_precision(item.item.unit_price * item.quantity, precision: 2) %>€</td>
      </tr>
    <% end %>
  </table>

  <hr style="border-color: #6200EE; border-width: 2px; margin-left: 15px; margin-right: 15px;">

  <!-- Subtotal and Fees section -->
  <div>
    <div style="display: flex; align-items: center;">
      <h5>Subtotal:</h5>
      <h5 style="margin-left: auto;"><%= @total_price %> €</h5>
    </div>
    <div style="display: flex; align-items: center;">
      <h5>Service fee:</h5>
      <h5 style="margin-left: auto;">5.00 €</h5> <!-- If you update Service fee, update manually Total section! -->
    </div>
    <!-- Delivery fee section (initially hidden) -->
    <div class="delivery-fee" style="display: none; align-items: center;">
      <h5>Delivery fee:</h5>
      <h5 style="margin-left: auto;">5.00 €</h5> 
    </div>
  </div>

  <hr style="border-color: #6200EE; border-width: 2px; margin-left: 15px; margin-right: 15px;">

  <!-- Toggle button for delivery -->
  <div data-controller= "buttons" style="display: flex; align-items: center;">
    <h5>Deliver to my address</h5>
    <label class="switch" style="margin-left: auto;">
      <input type="checkbox" data-buttons-target="toggle"">
      <span class="slider round" data-buttons-target="slider"></span>
    </label>
  </div>

  <hr style="border-color: #6200EE; border-width: 2px; margin-left: 15px; margin-right: 15px;">

  <!-- Total section -->
  <div style="display: flex; align-items: center;">
    <h5>Total:</h5>
    <h5 style="margin-left: auto;" class="total-price"><%= @total_price + 5 %> €</h5> <!-- +5 is for Service fee --> 
  </div>

  <div class="row justify-content-center text-center display:inline">
    <dotlottie-player src="https://lottie.host/a1c43db2-dd05-401e-a57b-841d89db865b/0rCNUnWDaP.json" background="transparent" speed="1" style="width: 270px;" loop autoplay></dotlottie-player>
  </div>
</div>