<%# <% @ribbon_text = "WELCOME TO BETTERSHOPPER" %> %>

<%# <div class="d-flex bg-white flex-column" style="padding: 0 15px; position: relative;"> %>
  <div data-controller="map" data-map-buttons-outlet="#buttons"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    <% if @user_address %>
      data-user-latitude="<%= @user_address_lat %>"
      data-user-longitude="<%= @user_address_lng %>"
    <% else %>
      data-user-latitude="<%= current_user.latitude %>"
      data-user-longitude="<%= current_user.longitude %>"
    <% end %>
  >
    <div id="map" data-map-target="map"></div>


    <div class="text-center">
      <p>Your current address is</p>
      <% if @user_address %>
        <p><%= @user_address %></p>
      <% else %>
        <p><%= current_user.address %></p>
      <% end %>
    </div>

    <div id="buttons" data-controller="buttons" style="position: absolute; bottom: 0; width: 100%;">
      <div class="text-center">
        <div class="flex-column justify-content-center">
          <button data-action="click->map#showMapboxSearchBox" class="button gray" data-buttons-target="changeAddress">CHANGE</button>
          <button data-action="click->buttons#lookingGood" class="button violet" data-buttons-target="lookingGood">LOOKS GOOD</button>
          <%= simple_form_for :new_address, url: setup_path, method: :get do |f| %>
            <%= f.submit "SET NEW ADDRESS", data: {action: "click->map#send", buttons_target: "setNewAddress"}, class: "set-address-btn button violet d-none" %>
            <%= f.hidden_field :title, :value => "some value", data: {map_target: "hidden"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
