<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p style="color: green"><%= notice %></p>


<div id='map' style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>






<div>
  <% banana_items = Item.where(name: 'banana') %>
  <% banana_items.each do |item| %>
    <p>
      <%= "Name: #{item.name}, Price: #{item.unit_price}, Store: #{item.store.name}" %><br>
      <%= image_tag item.image_url, alt: "#{item.name} image", width: "100" %>
    </p>
  <% end %>
</div>
