<html>
<head>
  <!-- Your head content here, including styles and JavaScript imports -->
</head>
<body>
  <div class="app-content" style="background-color: #bfe4ff;">
    <div class="welcome-box">
      <h1 data-controller="welcome" data-welcome-target="messageContent">
        Welcome <%= user_signed_in? ? 'back,' : 'to' %><br>
        <span data-welcome-target="welcomeBox.userName"><%= user_signed_in? ? current_user.name : '' %></span>
      </h1>
    </div>

    <div class="updating-your-address"
    data-controller="welcome" data-target="messageContent" style="display: none">
                Updating your Address...
    </div>





    <div id='map'
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="user-details" data-user-address="<%= @user_address %>">
      <p data-target="userAddress.address">
        <%= @user_address %>
      </p>
    </div>


<div class="buttons" data-controller="buttons">
  <a href="#" data-action="click->buttons#changeAddress" data-button-type="change-address"
     class="change-address-button">CHANGE ADDRESS</a>
  <a href="#" data-action="click->buttons#lookingGood" data-button-type="looking-good"
     class="looking-good-button">LOOKING GOOD</a>
  <a href="#" data-action="click->buttons#nowLookingGood" data-button-type="now-looking-good"
     class="now-looking-good-button" style="display: none">NOW LOOKING GOOD</a>
</div>


  </div>
</body>
</html>
