<% @ribbon_text = "WELCOME TO BETTERSHOPPER" %>
<div class="d-flex flex-grow-1 flex-column justify-content-between h--100 px-2"
      data-controller="map"
      data-map-buttons-outlet="#buttons"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  <% if @user_address %>
    data-user-latitude="<%= @user_address_lat %>"
    data-user-longitude="<%= @user_address_lng %>"
  <% else %>
    data-user-latitude="<%= current_user.latitude %>"
    data-user-longitude="<%= current_user.longitude %>"
  <% end %>>
  <div id='map' class="flex-grow-1" data-map-target="map">
  </div>
  <div class="d-flex flex-column justify-content-between">
    <div class="flex-column text-center">
      <p>Your current address is</p>
      <% if @user_address %>
        <p><%= @user_address %></p>
      <% else %>
      <p><strong><%= current_user.address %><strong></p>
      <% end %>
    </div>
    <div class="flex-column" id="buttons" data-controller="buttons">
      <div class="d-flex space-between">
        <button class="button gray" data-action="click->map#showMapboxSearchBox" data-buttons-target="changeAddress">CHANGE</button>
        <button class="button violet" data-action="click->buttons#lookingGood" data-buttons-target="lookingGood">LOOKS GOOD</button>
      </div>
      <div>
        <%= simple_form_for :new_address, url: setup_path, method: :get do |f| %>
          <%= f.submit "SET NEW ADDRESS", data: {action: "click->map#send", buttons_target: "setNewAddress"}, class: "button violet d-none full-button" %>
          <%= f.hidden_field :title, :value => "some value", data: {map_target: "hidden"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
