  <% @ribbon_text = "WELCOME TO BETTERSHOPPER" %>

  <div class="bg-white center-content flex-column">

    <div id='map'
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-user-latitude="<%= current_user.latitude %>"
      data-user-longitude="<%= current_user.longitude %>" class="mt-5">
    </div>

    <div class="text-center">
      <p>Your current address is</p>
      <p><%= current_user.address %></p>
    </div>

    <div>
      <a href="#" data-action="click->buttons#changeAddress" data-button-type="change-address" class="button gray">CHANGE</a>
      <a href="#" data-action="click->buttons#lookingGood" data-button-type="looking-good" class="button violet">LOOKS GOOD</a>
      <!-- # change to button later -->
    </div>

  </div>
