<%= javascript_include_tag 'controllers/items' %>

<% @navbar_text = "Taking your order" %>
<%= render "shared/navbar" %>

<% if @processed_items && @processed_items.any? %>
  <div class="cards-container">
    <% @processed_items.each do |item| %>
      <div class="item-card">
        <img class='align-self-center mr-3' src="<%= item['image_url'] %>" alt="<%= item['name'] %> image" width="100">
        <div class="item-card-text">
          <h5 class="mt-0 no-decoration"><%= item['name'].capitalize %></h5>
          <div class="truncate-text" data-max-length="15">
            <p>From <%= item['store'] %></p>
            <p>€<%= item['price'] %></p>
          </div>
        </div>
        <div class="quantity-button">
          <button class="minus-plus" data-item-id="<%= item['id'] %>" data-action="decrement">-</button>
          <span id="quantity_<%= item['id'] %>"><%= item['quantity'] %></span>
          <button class="minus-plus" data-item-id="<%= item['id'] %>" data-action="increment">+</button>
        </div>
      </div>
    <% end %>
  </div>
<% elsif @not_found_message %>
  <div class="container">
    <h1>Items Not Found</h1>
    <p><%= @not_found_message %></p>
  </div>
<% else %>
  <div class="container">
    <h1>No Items in Cart</h1>
    <p>Please add items to your cart.</p>
  </div>
<% end %>

<div class="button-container">
  <%= link_to '+ ADD ITEMS', new_cart_item_path, class: 'violet-button' %>
  <button class="violet-button">CHECKOUT</button> 
</div><br>
