<% @ribbon_text = "Taking your order" %>
<div class="d-flex flex-column justify-content-between h--100 px-2">
  <div class="flex-column">
    <% if @cart_items && @cart_items.any? %>
      <% @cart_items.each do |cart_item| %>
      <% item = cart_item.item %>
      <div class="item-card space-between">
        <a href="<%= edit_cart_item_path(id: cart_item.id) %>" class="space-between no-decoration">
          <img src="<%= item.image_url %>" alt="<%= item.name %> image" width="90">
          <div class="item-card-text">
            <h5><%= item.name.capitalize %></h5>
            <p>From <%= item.store.name %></p>
            <p>€<%= item.unit_price %></p>
          </div>
        </a>
        <div class="space-between button-quantity" data-controller="quantity">
          <%= button_to update_cart_cart_item_path(cart_item), {form: { data: { action: "submit->quantity#decrement" }}, class: "no--button"} do %>
            -
          <% end %>
            <span data-quantity-target="display"><%= cart_item.quantity %></span>
          <%= button_to update_cart_cart_item_path(cart_item), {form: { data: { action: "submit->quantity#increment" }}, class: "no--button"} do %>
            +
          <% end %>
        </div>
      </div>
    <% end %>
    <% elsif @not_found_message %>
      <div>
        <h1>Items Not Found</h1>
        <p><%= @not_found_message %></p>
      </div>
    <% else %>
      <div>
        <h1>No Items in Cart</h1>
        <p>Please add items to your cart.</p>
      </div>
    <% end %>
  </div>
  <div class="flex-column">
    <div class="space-between">
      <%= link_to '+ ADD ITEMS', new_cart_item_path, class: 'button violet' %>
      <%= link_to 'CHECKOUT', order_path(@order), class: 'button violet' %>
    </div>
  </div>
</div>


<%# <div class="max-distance-box" data-controller="buttons">
  <label for="max_distance">Max Search Distance (km): </label>
  <input type="number" id="max_distance" name="max_distance" min="1" max="100" data-buttons-target="maxDistance">
  <button data-action="click->buttons#setMaxDistance">Set Search Distance</button>
</div> %>
