<%# app/views/items/show.html.erb %>
<% @navbar_text = "#{@item.name.capitalize} - Purchase options" %>
<%= render "shared/navbar" %>

<div class="container">
  <div class="item-details" data-controller="items">
    <div class="image-container" data-action="click->items#changeImage" data-image-url="<%= @item.image_url %>" data-items-target="image">
      <% if @item.image_url.present? %>
        <img src="<%= @item.image_url %>" alt="<%= @item.name %>" />
      <% else %>
        <!-- Display a placeholder image or message when no image is available -->
        <p data-items-target="item">No image available</p>
      <% end %>
    </div>

    <% @purchase_options.each_with_index do |option, index| %>
      <div class="purchase-option" data-items-target="option<%= index %>">
        <div class="store-data"><%= option.store.name %></div>
        <div class="unit-price"><%= option.unit_price %>€</div>
        <div class="select-option">
          <input type="checkbox" data-action="change->items#selectOption" data-items-target="checkbox" data-option-index="<%= index %>" <%= 'checked' if index == 0 %> />
        </div>
      </div>
    <% end %>
  </div>

<div class="centered-button">
    <button class="violet-button-confirm-selection" data-action="click->buttons#confirmSelection" data-items-url="<%= item_path %>">CONFIRM SELECTION</button>
  </div>
</div>
