<!-- to be deleted -->

<% @ribbon_text = "#{@item.name.capitalize} prices near you" %>
<div class="bg-white">
  <div data-controller="items">
    <% if @item.image_url.present? %>
      <img class="img-show" src="<%= @item.image_url %>" alt="<%= @item.name %>" />
    <% else %>
      <p data-items-target="item">No image available</p>
    <% end %>
    <div>
      <% @purchase_options.each_with_index do |option, index| %>
        <div class="table-view <%='selected' if index == 0 %>"
                    data-items-target="option<%= index %>"
                    data-action="click->items#toggleCheckbox">
          <div>
            <%= option.store.name %>
          </div>
          <div class="space-between">
            <div><%= option.unit_price %>€</div>
            <input type="checkbox"
                        data-action="change->items#selectOption"
            data-items-target="checkbox"
            data-option-index="<%= index %>"
            data-option-id="<%= option.id %>"
            <%= 'checked' if index == 0 %> />
          </div>
        </div>
      <% end %>
    </div>
    <div class="center-content justify-content-end">
      <button class="violet button"
                  data-action="click->items#confirmSelection"
        data-items-url="<%= cart_items_url %>"
        data-selected-option-index="0">
        CONFIRM MY SELECTION
      </button>
    </div>
  </div>
</div>
