<!DOCTYPE html>
<html>
  <head>
    <title>BetterShopper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="row justify-content-center">
        <div class="col-12 bg-white" style="position: relative; max-width: 400px; max-height: 700px; overflow-y: hidden; overflow-x: hidden;">
          <%= render "shared/navbar" %>
          <%= render "shared/flashes" %>
          <%= yield %>
          <%= render "shared/nav_bottom" %>
        </div>
      </div>
    </div>
  </body>
</html>
